#capture {
    position: absolute;
    top: 65px; /*高さかえた*/
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#capture:hover {
    background-color: #45a049;
}
#motivation-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: rgba(0, 123, 255, 0.9);*/
    color: white;
    padding: 15px 30px;
    font-size: 1.5em;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 1000;
    font-family: 'Hachi Maru Pop', cursive;
}

#motivation-message.show {
    opacity: 1;
    visibility: visible;
}
